<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field_name">
    <%= f.label :name, "I want to…" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="clear"></div>
  <div class="field">
    <%= f.text_field :frequency, :size => 4 %>
    <%= f.label :frequency, "times" %>
    <%= f.label :period, "per" %>
    <%= f.select("period", {"day" => "day", "week" => "week", "month" => "month"}) %>
  </div>
  <div class="clear"></div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id, :size => 4 %>
  </div>
  <div class="field">
    <%= f.label :place_id %>
    <%= f.text_field :place_id %>
  </div>
  <div class="clear"></div>
  <div class="actions">
    <%= f.submit "Help me do this Sergeant Shame!"%>
  </div>
<% end %>
