<div class="container clearfix">
<div class="grid4 first">
	<img src="../../images/sergeant.jpg" width="152px">
	</div>
	<div class="grid8" id="left_side">
		<% if @check_ins.empty? %>
				<p class="sergeant_talk">You better get your ass in gear you useless trogolodyte</p>
		<% else %>
		<%= render 'check_ins/check_ins' %>
		<% end %>
	
		<h1 id="notice"><%= notice %></h1>
		<p class="sergeant_talk">You will <%= @task.name %> at least <%= @task.frequency %> per <%= @task.period %>!</p>

	</div>
</div>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>