<h1>Listing users</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Fb</th>
    <th>FB Access Token</th>
    <th>Viadeo</th>
    <th>Twitter username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.fb_id %></td>
    <td><%= user.fb_access_token %></td>
    <td><%= user.viadeo_id %></td>
    <td><%= user.twitter_username %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
